<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="departmentFamily">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Family </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.departmentFamily }} </td>
    </ng-container>

    <ng-container matColumnDef="entity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entity </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.entity }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.date | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="expenseType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense Type </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.expenseType }} </td>
    </ng-container>

    <ng-container matColumnDef="expenseArea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense Area </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.expenseArea }} </td>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.supplier }} </td>
    </ng-container>

    <ng-container matColumnDef="transactionNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Number </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.transactionNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.amount }} </td>
    </ng-container>

    <ng-container matColumnDef="invoiceCurrencyUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Currency Unit </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.invoiceCurrencyUnit }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>

