.mat-column-departmentFamily {
  width: 8%;
}

.mat-column-entity {
  width: 5%;
}

.mat-column-date {
  width: 5%;
}

.mat-column-expenseType {
  width: 15%;
}

.mat-column-expenseArea {
  width: 15%;
}

.mat-column-supplier {
  width: 15%;
}

.mat-column-amount {
  width: 7.5%;
}

.mat-column-transactionNumber {
  width: 7.5%;
}

.mat-column-invoiceCurrencyUnit {
  width: 8%;
}
