<mat-tab-group>
  <mat-tab label="Tabs">
    <app-tabular-view [dataSource]="dataSet"></app-tabular-view>
  </mat-tab>
  <mat-tab class="graph-tab" label="Second">
    <app-daily-transactions [dataSet]="dataSet"></app-daily-transactions>
  </mat-tab>
  <mat-tab label="Third">
    <app-expense-per-type [dataSet]="dataSet"></app-expense-per-type>
  </mat-tab>
</mat-tab-group>
